body {
	background-image: url(/assets/crew/background-crew-desktop.jpg);
}

.main {
	bottom: 0;
	overflow: hidden;
	min-height: 500px;
	position: absolute;
	justify-content: space-around;
}

.main .crewTextDiv {
	width: 50%;
	height: 80%;
	position: relative;
}

.main .crewTextDiv .test {
	display: none;
}

.main .crewTextDiv > p {
	font-size: 1.75rem;
	letter-spacing: 4.725px;
	margin-bottom: 10.375rem;
}

.main .crewTextDiv > p span {
	opacity: 0.25;
	font-weight: 700;
	margin-right: 0.625rem;
	letter-spacing: 4.725px;
}

.main .crewTextDiv .crewTextBio h2 {
	opacity: 0.5;
	font-size: 2rem;
	font-weight: 400;
	text-transform: uppercase;
	font-family: 'Bellefair', serif;
}

.main .crewTextDiv .crewTextBio h1 {
	font-weight: 400;
	font-size: 3.5rem;
	margin-top: 2.0625rem;
	margin-bottom: 3.25rem;
	text-transform: uppercase;
	font-family: 'Bellefair', serif;
}

.main .crewTextDiv .crewTextBio p {
	width: 70%;
	color: #d0d6f9;
	font-size: 1.125rem;
	margin-bottom: 7.8125rem;
}

.main .crewTextDiv .carouselButtons button {
	border: none;
	opacity: 0.17;
	color: #fff;
	cursor: pointer;
	width: 0.9375rem;
	height: 0.9375rem;
	border-radius: 50%;
	margin-right: 1.5rem;
}

.main .crewTextDiv .carouselButtons button:hover {
	opacity: 0.5;
}

.main .crewTextDiv .carouselButtons button.active {
	opacity: 1;
}

.main .personImage img {
	width: 100%;
	height: 100%;
}

.main .personImage {
	position: relative;
	max-height: 500px;
	/* max-height: 150px; */
	/* max-width: 150px; */
}

@media (max-height: 820px) {
	.main .crewTextDiv > p {
		margin-bottom: 5rem;
	}

	.main .crewTextDiv .crewTextBio h1 {
		margin-bottom: 2rem;
	}

	.main .crewTextDiv .crewTextBio p {
		margin-bottom: 5rem;
	}

	.main .personImage img {
		width: 100%;
		height: 100%;
	}

	.main .personImage {
		max-width: 25rem;
	}
}

/* 1230 */

@media (max-width: 1230px) {
	.main .crewTextDiv .crewTextBio h1 {
		font-size: 2.5rem;
	}

	.main .personImage {
		max-height: 450px;
		/* max-width: 150px; */
	}
}
/*    */
@media (max-width: 1000px) {
	.main {
		flex-direction: column;
		justify-content: space-between;
		min-height: 75%;
	}

	.main .personImage {
		max-height: 290px;
		/* max-width: 200px; */
	}

	.main .crewTextDiv {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		width: 100%;
	}

	.main .crewTextDiv .crewTextBio {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.main .crewTextDiv .crewTextBio h2 {
		font-size: 1.5rem;
	}

	.main .crewTextDiv .crewTextBio h1 {
		font-size: 2.5rem;
		margin: 1.25rem 0;
	}

	.main .crewTextDiv .crewTextBio p {
		margin-bottom: 3rem;
		text-align: center;
		font-size: 1rem;
	}

	.main .crewTextDiv .carouselButtons button {
		width: 0.625rem;
		height: 0.625rem;
		border-radius: 50%;
		margin-right: 1rem;
	}
}

@media (max-width: 840px) {
	.main {
		flex-direction: column-reverse;
		justify-content: center;
	}

	.main .personImage {
		/* max-height: 290px; */
		max-width: 200px;
		position: relative;
	}

	.main .personImage::after {
		content: '';
		position: absolute;
		/* left: -25%; */
		left: -70%;
		bottom: 0;
		height: 1px;
		width: 250%;
		/* width: 150%; */
		background-color: #d0d6f9;
	}

	.main .crewTextDiv .carouselButtons {
		margin: 2rem 0;
	}

	.main .crewTextDiv .crewTextBio h1 {
		margin: 0.625rem 0 1.25rem 0;
	}

	.main .crewTextDiv {
		flex-direction: column-reverse;
	}
}

@media (max-width: 540px) {
	.main .crewTextDiv .crewTextBio h1 {
		font-size: 1.5rem;
	}

	.main .crewTextDiv .crewTextBio h2 {
		font-size: 1rem;
	}

	.main .crewTextDiv .crewTextBio p {
		font-size: 0.9375rem;
	}
}
/* 420 */

@media (max-width: 420px) {
	.main .personImage::after {
		left: -25%;
		width: 150%;
	}
}
