body {
	background-image: url(/assets/destination/background-destination-desktop.jpg);
}

.main {
	width: 90%;
	justify-content: space-around;
	overflow: hidden;
}

@keyframes hideAnimation {
	0% {
		top: 0;
	}
	100% {
		top: -550px;
	}
}

.main .destinationDiv {
	position: relative;
	flex-direction: column;
	justify-content: center;
	/* animation: hideAnimation 1s ease-out infinite; */
}

.main .destinationDiv p {
	color: #fff;
	left: -3.125rem;
	top: -4.375rem;
	font-size: 1.75rem;
	position: absolute;
	z-index: 10;
	letter-spacing: 4.725px;
}

.main .destinationDiv p > span {
	opacity: 0.25;
	font-weight: 700;
	font-size: 1.875rem;
	margin-right: 0.625rem;
}

.main .destinationDiv .destinationImage {
	max-width: 400px;
}

.main .destinationDiv .destinationImage img {
	width: 100%;
}

.main .destinationTextDiv {
	position: relative;
	max-width: 27.8125rem;
	/* animation: hideAnimation 1s linear infinite; */
}

/* .main .destinationTextDiv:hover {
} */

.main .destinationTextDiv .destinationsUl {
	width: 60%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.main .destinationTextDiv .destinationsUl li {
	font-size: 1rem;
	cursor: pointer;
	position: relative;
	letter-spacing: 2.7px;
}

.main .destinationTextDiv .destinationsUl li::before {
	width: 0;
	content: '';
	height: 3px;
	bottom: -5px;
	opacity: 0.5;
	position: absolute;
	transition: all 0.7s;
	background-color: #fff;
}

.main .destinationTextDiv .destinationsUl .actualDestination::before {
	opacity: 1;
	width: 95%;
}

.main .destinationTextDiv .destinationsUl li:hover::before {
	width: 95%;
}

.main .destinationTextDiv .destinationH1 {
	margin: 1.25rem 0;
	font-weight: 400;
	font-size: 6.25rem;
	font-family: 'Bellefair', serif;
}

.main .destinationTextDiv .explanationDestinationP {
	line-height: 2rem;
	font-size: 1.125rem;
}

.main .destinationTextDiv .statisticsDestination {
	margin-top: 1.25rem;
	padding-top: 0.9375rem;
	border-top: 1px solid #383b4b;
}

.main .destinationTextDiv .statisticsDestination .items {
	width: 80%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.main .destinationTextDiv .statisticsDestination .items p {
	color: #d0d6f9;
	margin-bottom: 5px;
	font-size: 0.875rem;
	letter-spacing: 2.3625px;
}

.main .destinationTextDiv .statisticsDestination .items h2 {
	font-weight: 400;
	font-size: 1.74rem;
	font-family: 'Bellefair', serif;
}

@media (max-height: 840px) {
	body {
		align-items: flex-end;
	}
	.main {
		margin-bottom: 50px;
	}
}
