body {
	background-image: url(../assets/home/background-home-desktop.jpg);
}

.main {
	width: 100%;
	justify-content: space-around;
}

.main .textSection {
	width: 27.75rem;
}

.main .textSection h1 {
	margin: 0.625rem 0;
	font-size: 9.375rem;
	font-weight: normal;
	font-family: 'Bellefair', serif;
}

.main .textSection p {
	color: #d0d6f9;
}

.main .textSection p:first-child {
	font-size: 1.75rem;
	letter-spacing: 4.75px;
}

.main .textSection p:last-child {
	font-size: 1.125rem;
}

.main .bubble {
	display: flex;
	cursor: pointer;
	width: 16.875rem;
	transition: 0.7s;
	height: 16.875rem;
	border-radius: 50%;
	position: relative;
	align-items: center;
	justify-content: center;
	background-color: #fff;
}

.main .bubble:before {
	width: 0;
	height: 0;
	content: '';
	opacity: 10.36%;
	border-radius: 50%;
	position: absolute;
	transition: all 0.7s;
	background-color: #fff;
}

.main .bubble:hover:before {
	width: 28.125rem;
	height: 28.125rem;
}

.main .bubble p {
	color: #0b0d17;
	font-size: 2rem;
	font-family: 'Bellefair', serif;
}

@media (max-width: 1100px) {
	.main .textSection h1 {
		font-size: 8rem;
	}

	.main .textSection p:first-child {
		font-size: 1.5rem;
	}

	.main .textSection p:last-child {
		font-size: 1rem;
	}

	.main .bubble {
		width: 14rem;
		height: 14rem;
	}

	.main .bubble:hover:before {
		width: 18rem;
		height: 18rem;
	}
}

@media (max-width: 830px) {
	body {
		background-image: url(../assets/home/background-home-tablet.jpg);
	}

	.main {
		flex-direction: column;
	}

	.main .textSection p:last-child {
		line-height: 1.5625rem;
		text-align: center;
	}

	.main .textSection {
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	.main .bubble {
		margin-top: 3.125rem;
	}
}

@media (max-width: 630px) {
	.main .textSection p:first-child {
		font-size: 1rem;
	}

	.main .textSection h1 {
		font-size: 5rem;
	}

	.main .textSection p:last-child {
		font-size: 0.9375rem;
	}

	.main .bubble {
		width: 9.375rem;
		height: 9.375rem;
	}

	.main .bubble:hover:before {
		width: 13rem;
		height: 13rem;
	}

	.main .bubble p {
		font-size: 1.25rem;
	}
	.main .textSection {
		width: 100%;
		padding: 0 1.25rem;
	}
}
