@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Bellefair&display=swap');

* {
	margin: 0;
	padding: 0;
	color: #fff;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
	font-family: 'Barlow Condensed', sans-serif;
}

body {
	height: 100vh;
	display: flex;
	overflow: hidden !important;
	align-items: center;
	background-size: cover;
	justify-content: center;
	background-repeat: no-repeat;
	background-position: cover cover;
}

.main {
	display: flex;
	align-items: center;
}

.nav {
	top: 2rem;
	z-index: 10;
	height: 6rem;
	width: 100vw;
	display: flex;
	position: absolute;
	align-items: center;
	align-items: center;
	justify-content: space-between;
	transition: 0.9s;
}

/* .nav .iconMenu {
	display: none;
	cursor: pointer;
	font-size: 2rem;
	color: #d0d6f9;
}
 */

.iconMenu {
	display: none;
	cursor: pointer;
	font-size: 2rem;
	color: #d0d6f9;
}
.nav .logo {
	margin-left: 4rem;
}

.nav .navDiv {
	width: 50%;
	height: 100%;
	display: flex;
	padding: 0 20px;
	transition: 0.6s;
	position: relative;
	align-items: center;
	justify-content: center;
	backdrop-filter: blur(40.7742px);
	background: rgba(255, 255, 255, 0.04);
}

.nav .navDiv::before {
	left: -45%;
	width: 50%;
	height: 1px;
	content: '';
	position: absolute;
	background-color: #fff;
}

.nav .navDiv .ulNav {
	height: 100%;
	display: flex;
	list-style: none;
	align-items: center;
}

.nav .navDiv .ulNav li {
	cursor: pointer;
	font-size: 1.5rem;
	position: relative;
	margin-left: 1.5rem;
	text-transform: uppercase;
}

.nav .navDiv .ulNav li:first-child {
	margin: 0;
}

.nav .navDiv .ulNav li::before {
	right: 0;
	width: 0;
	content: '';
	height: 3px;
	opacity: 0.5;
	bottom: -2rem;
	position: absolute;
	transition: all 0.7s;
	background-color: #fff;
}

.nav .navDiv .ulNav .actualLink::before {
	opacity: 1;
	content: '';
	width: 100%;
}

.nav .navDiv .ulNav li:hover::before {
	width: 100%;
}

.nav .navDiv .ulNav li span {
	font-weight: bold;
	margin-right: 0.625rem;
}

.showNav {
	transform: translateX(0) !important;
}

@media (max-width: 1100px) {
	.nav .navDiv .ulNav li {
		font-size: 1.2rem;
	}

	.nav .navDiv::before {
		left: -50%;
		width: 50%;
		content: '';
		height: 1px;
		position: absolute;
		background-color: #fff;
	}
}

@media (max-width: 910px) {
	.nav .navDiv .ulNav li {
		font-size: 1rem;
	}

	.nav .navDiv .ulNav li::before {
		bottom: -2.3rem;
	}
}

@media (max-width: 830px) {
	.logo {
		display: none;
	}

	.nav .navDiv .ulNav li {
		transform: translateX(100%);
	}

	.nav .navDiv.showNav .ulNav li {
		transform: translateX(0);
	}

	.nav .navDiv {
		top: 0;
		right: 0;
		width: 50%;
		padding-right: 0;
		position: absolute;
		padding-top: 100px;
		flex-direction: column;
		justify-content: flex-start;
		transform: translateX(100%);
	}

	.nav .navDiv::before {
		display: none;
	}

	.nav .navDiv .ulNav {
		height: 30%;
		width: 100%;
		flex-direction: column;
		justify-content: space-between;
	}
	.nav .navDiv .ulNav li {
		margin: 0;
		width: 100%;
	}

	.nav .navDiv .ulNav .actualLink::before {
		bottom: 0;
		width: 4px;
		height: 19px;
	}

	.nav .navDiv .ulNav li:hover::before {
		width: 4px;
	}

	/* 	.nav .iconMenu {
		z-index: 10000;
		top: 20px;
		right: 20px;
		display: flex;
		position: absolute;
	} */

	.iconMenu {
		z-index: 10000;
		top: 20px;
		right: 20px;
		display: flex;
		position: absolute;
	}

	.nav {
		/* z-index: -10; */
		/* width: 10%; */
		/* max-width: min-content; */
		transform: translateX(100%);

		/* max-width: 0%; */
		/* background-color: rebeccapurple; */
		right: 0;
		top: 0;
		height: 100vh;
		display: block;
		padding: 0 20px;
		padding-right: 0 !important;
		justify-content: flex-start !important;
	}

	.nav .logo {
		margin-left: 0;
	}
}
